<div class="jumbotron">
                <div class="row">
                                <h2>Admissions Rating Tool</h2>
                </div>
                <div class="row">
                                <p>This scoring tool is used to estimate the number of 'points' a candidate may be awarded, based upon various academic criteria. The maximum number of points a candidate may receive is 47.</p>
                                <p>All candidates are ranked based upon their point score, from greatest to least. Any tie scores are broken the cumulative GPA.</p>
                                <p>The top candidates, based upon program size and resources will be admitted to the program.</p>
                                <p>Although academic criteria are vital, candidates are also expected to meet the following requirements, lack of which may disqualify a candidate regardless of point score:</p>
                                <ul>
                                                <li>Cleared Background Investigation</li>
                                                <li>Passed Drug Screening</li>
                                                <li>Proof of Health Insurance</li>
                                                <li>Complete Immunization Record</li>
                                                <li>Fingerprint Review</li>
                                                <li>CPR Certification</li>
                                                <li>Physical Examination</li>
                                                <li>Student Services Orientation Attendance</li>
                                                <li>Program Orientation Attendance</li>
                                </ul>
                </div>
</div>