<div class="jumbotron">
    <h2>Rating Scale for Foundations<br/><small>New Admissions</small></h2>
    <form class="form-horizontal" ng-controller="RatingController">
        <div class="row">
            <h3>Prerequisites</h3>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Course</th>
                    <th colspan="4">Grade</th>
                    <th>Points</th>
                </tr>
                <tr ng-repeat="class in classes">
                    <td>{{class.name}}</td>
                    <td>
                        <input type="radio" name="{{class.name}}" value="4" id="{{class.name}}4" ng-model="class.value" ng-change="computeAcademic(class.value)" />
                        <label for="{{class.name}}4">&nbsp;A</label>
                    </td>
                    <td>
                        <input type="radio" name="{{class.name}}" value="3" id="{{class.name}}3" ng-model="class.value" ng-change="computeAcademic(class.value)" />
                        <label for="{{class.name}}3">&nbsp;B</label>
                    </td>
                    <td>
                        <input type="radio" name="{{class.name}}" value="2" id="{{class.name}}2" ng-model="class.value" ng-change="computeAcademic(class.value)" />
                        <label for="{{class.name}}2">&nbsp;C/CLEP/AP</label>
                    </td>
                    <td>
                        <input type="radio" name="{{class.name}}" value="0" id="{{class.name}}0" ng-model="class.value" ng-change="computeAcademic(class.value)" />
                        <label for="{{class.name}}0">&nbsp;N/A</label>
                    </td>
                    <td ng-if="class.has_points == true">{{class.value}}</td>
                    <td ng-if="class.has_points == false">&ndash;</td>
                </tr>
            </table>
            <p class='pull-right'>
                Total Academic Points: {{academicTotal}}</p>
        </div>

        <div class="row">
            <p>
                <input type="checkbox" name="bachelors" id="bachelors" ng-model="bachelors.value" ng-change="computeTotal(bachelors.value)" />
                <label for="bachelors">&nbsp;Bachelor's Degree or Higher</label>
            </p>
        </div>
        <div class="row">
            <h3>TEAS (V) or HESI Exam<br /><small>Must pass each of the 4 components at a proficiant level</small></h3>
        </div>
        <div class="row">
            <!-- Hesi/Teas Tabs -->
            <ul class="nav nav-tabs" id="tests" role="tablist">
                <li role="presentation" class="active"><a ng-href="#teas" ng-init="calcTeas()" ng-click="calcTeas()" aria-controls="home" role="tab" data-toggle="tab">TEAS</a></li>
                <li role="presentation"><a ng-href="#hesi" ng-click="calcHesi()" aria-controls="profile" role="tab" data-toggle="tab">HESI</a></li>
            </ul>
        </div>
        <div class="row">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="teas">
                    <div class="row">
                        <h2>TEAS Scores</h2>
                        <div class="col-md-5 test-field" ng-repeat="teas in teases">
                            <div class="col-md-5 test-name">{{teas.name}}</div>
                            <div class="col-md-5">
                                <input type="number" class="test-input" max="100" min="0" ng-if="teas.is_date != true" ng-model="teas.value" ng-change="computeTeas()" /><span ng-if="teas.is_date != true">%</span>
                                <input type="date" ng-if="teas.is_date == true" />
                            </div>
                        </div>


                        <div class="col-md-11">
                            <div class="offset-md-1 col-md-6"><mark ng-if="showTeasWarning == true">Minimum scores of 64% are required on each of the 4 sections</mark></div>
                            <p class="pull-right">TEAS Points: {{teasTotal}}</p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="hesi">
                    <div class="row">
                        <h2>HESI Scores</h2>
                        <div class="col-md-5 test-field" ng-repeat="hesi in hesis">
                            <div class="col-md-5 test-name">{{hesi.name}}</div>
                            <div class="col-md-5">
                                <input type="number" class="test-input" max="100" min="0" ng-if="hesi.is_date != true" ng-model="hesi.value" ng-change="computeHesi()" /><span ng-if="hesi.is_date != true">%</span>
                                <input type="date" ng-if="hesi.is_date == true" />
                            </div>
                        </div>


                        <div class="col-md-11">
                            <div class="offset-md-1 col-md-6"><mark ng-if="showHesiWarning == true">Minimum scores of 75% are required on each of the 4 sections</mark></div>
                            <p class="pull-right">HESI Points: {{hesiTotal}}</p>
                        </div>
                    </div>
                </div>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3">
                <label for="gpa">GPA:</label>
            </div>
            <div class="col-md-5">
                <input type="number" min="0.000" max="4.000" id="gpa" class="col-md-8" name="gpa" ng-model="gpa.value" ng-change="computeTotal(gpa.value)" />
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <p class="pull-right"><strong>Total Points: {{combinedTotal}}</strong></p>
        </div>
    </form>
</div>

<script type="text/javascript">
/* <![CDATA */
    $('#tests a').click( function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
/* ]]> */
</script>